USE [AgricultureManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/30/2024 7:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgricultureCategories]    Script Date: 10/30/2024 7:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgricultureCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_AgricultureCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgricultureProducts]    Script Date: 10/30/2024 7:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgricultureProducts](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Thumbnail] [nvarchar](max) NULL,
 CONSTRAINT [PK_AgricultureProducts] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/30/2024 7:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/30/2024 7:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[UpdateAt] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241022084738_InitialCreate', N'6.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241022182417_AddUserDetails', N'6.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241028130615_ImageUpdate', N'6.0.8')
GO
SET IDENTITY_INSERT [dbo].[AgricultureCategories] ON 

INSERT [dbo].[AgricultureCategories] ([CategoryId], [CategoryName], [Description]) VALUES (1, N'Coffee', N'Various types of coffee products.')
INSERT [dbo].[AgricultureCategories] ([CategoryId], [CategoryName], [Description]) VALUES (2, N'Tea', N'Different varieties of tea.')
INSERT [dbo].[AgricultureCategories] ([CategoryId], [CategoryName], [Description]) VALUES (3, N'Herbs', N'Fresh herbs and spices.')
SET IDENTITY_INSERT [dbo].[AgricultureCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[AgricultureProducts] ON 

INSERT [dbo].[AgricultureProducts] ([ProductId], [ProductName], [Price], [StockQuantity], [Description], [CategoryId], [CreatedAt], [UpdatedAt], [Thumbnail]) VALUES (1, N'Arabica Coffee', CAST(150000.00 AS Decimal(18, 2)), 100, N'High quality arabica coffee beans.', 1, CAST(N'2024-10-22T17:04:23.5333333' AS DateTime2), CAST(N'2024-10-22T17:04:23.5333333' AS DateTime2), N'https://worldwidechocolate.com/wp-content/uploads/2023/09/Prova-Gourmet-Colombia-Arabica-Coffee-Extract-Label.png')
INSERT [dbo].[AgricultureProducts] ([ProductId], [ProductName], [Price], [StockQuantity], [Description], [CategoryId], [CreatedAt], [UpdatedAt], [Thumbnail]) VALUES (3, N'Green Tea', CAST(80000.00 AS Decimal(18, 2)), 150, N'Organic green tea leaves.', 2, CAST(N'2024-10-29T15:22:21.4033230' AS DateTime2), CAST(N'2024-10-29T15:22:21.4033235' AS DateTime2), N'https://i.pinimg.com/736x/2f/46/dd/2f46dddf2fef4e4a8f9759b7503b796e.jpg')
INSERT [dbo].[AgricultureProducts] ([ProductId], [ProductName], [Price], [StockQuantity], [Description], [CategoryId], [CreatedAt], [UpdatedAt], [Thumbnail]) VALUES (4, N'Black Tea', CAST(70000.00 AS Decimal(18, 2)), 120, N'Rich and aromatic black tea.', 2, CAST(N'2024-10-22T17:04:23.5333333' AS DateTime2), CAST(N'2024-10-22T17:04:23.5333333' AS DateTime2), N'http://keysofhealth.com/wp-content/uploads/2017/12/Black-tea-1024x727.jpg')
SET IDENTITY_INSERT [dbo].[AgricultureProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'ADMIN')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'USER')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'STAFF')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [RoleId], [CreateAt], [UpdateAt], [Address], [DateOfBirth], [PhoneNumber]) VALUES (1, N'Nguyen Hoang Phuc', N'admin@example.com', N'admin_password', 1, CAST(N'2024-10-22T19:20:03.7480000' AS DateTime2), CAST(N'2024-10-22T19:20:03.7480000' AS DateTime2), N'Phú Yên', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'0366658711')
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [RoleId], [CreateAt], [UpdateAt], [Address], [DateOfBirth], [PhoneNumber]) VALUES (2, N'Regular User', N'user@example.com', N'user_password', 2, CAST(N'2024-10-22T19:20:39.8676003' AS DateTime2), CAST(N'2024-10-22T19:20:39.8676007' AS DateTime2), N'TP.HCM', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'09212345678')
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [RoleId], [CreateAt], [UpdateAt], [Address], [DateOfBirth], [PhoneNumber]) VALUES (3, N'Staff User', N'staff@example.com', N'staff@@123', 3, CAST(N'2024-10-30T11:23:03.3132796' AS DateTime2), CAST(N'2024-10-30T11:23:03.3132799' AS DateTime2), N'Phú Yên', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'0123456789')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Address]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DateOfBirth]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [PhoneNumber]
GO
ALTER TABLE [dbo].[AgricultureProducts]  WITH CHECK ADD  CONSTRAINT [FK_AgricultureProducts_AgricultureCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[AgricultureCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[AgricultureProducts] CHECK CONSTRAINT [FK_AgricultureProducts_AgricultureCategories_CategoryId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
